venv/
.venv/

**/__pycache__/
*.py[cod]

# Ejecuciones locales
**/temp/
**/logs/
**/experiments
**/processed/

# Datos Sensibles
**/data/
notebooks/**/*.png

# Notebooks
.ipynb_checkpoints/
**/.ipynb_checkpoints/
**/cache/

# Cache Rara
.vs/